flask
requests
prometheus_client
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
